RewriteEngine on
Redirect permanent /download.html http://ws.apache.org/axis/download.cgi
RewriteRule   ^jp$       http://ws.apache.org/axis/ja/
RewriteRule   ^jp/(.*)$  http://ws.apache.org/axis/ja/$1
